node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.expo/
.expo-shared/
web-build/

dist/
build/
coverage/

backend/serviceAccountKey.json
shared/secrets.ts

.env
.env.*

.DS_Store
